.animation-card {
  margin: 0 auto;
  max-width: 1100px;
  display: flex;
  align-items: center;

  &-text-wrapper {
    width: 52%;
    height: 100%;
  }
  &-title {
    font-size: 3.125rem;
    line-height: 1.1;
    margin-bottom: 0.5rem;
  }
  &-sub-title {
    margin: 0.75em 0 0.25em;
    font-weight: 400;
  }
  &-image-wrapper {
    width: 48%;
    height: 100%;
    position: relative;
  }
  .animation {
    width: 100%;
    height: 100%;
  }
  &-video {
    z-index: -1;
    position: absolute;
  }
  .video-tv {
    max-width: 73%;
    max-height: 54%;
    left: 13%;
    top: 21%;
  }
  .video-device-pile {
    max-width: 61%;
    max-height: 47%;
    left: 19%;
    top: 9%;
  }
  &-video {
    width: 100%;
    height: 100%;
  }
}

.animation-card-icon {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 2px solid #404040;
  border-radius: 8px;
  padding: 0.5em 0.75em;
  box-shadow: 0 0 2em 0 #000;
  max-height: 5.5em;
  min-width: 10rem;
  position: absolute;
  left: 20%;
  bottom: 10%;
  background: black;

  &-image-wrapper {
    margin-right: 1em;
  }
  &-text-wrapper {
    margin-right: 2em;
  }
  &-text-st {
    font-weight: 600;
    margin-bottom: 0.3em;
  }
  &-text-d {
    color: #0071eb;
  }
  &-image {
    height: 4.2em;
  }
  &-icon-gif {
    height: 4.2em;
  }
}
