.faq-title {
  text-align: center;
  line-height: 1.1;
  margin-bottom: 0.5rem;
}
.qna {
  font-size: 1.625rem;
  max-width: 815px;
  margin: 2em auto;
}
.accordion {
  background-color: #303030;
  color: #fff;
  font-size: inherit;
  cursor: pointer;
  width: 100%;
  text-align: left;
  padding: 0.8em 1.2em;
  margin-bottom: 8px;
  display: flex;
  justify-content: space-between;
}
.accordion::after {
  content: '\02795';
  font-size: inherit;
  color: #fff;
}
.active::after {
  content: '\274C';
}
.panel {
  max-width: 1200px;
  background-color: #303030;
  display: none;
  overflow: hidden;
  max-height: 0;
  transition: max-height 0.25s cubic-bezier(0.5, 0, 0.1, 1);

  p {
    font-size: inherit;
    padding: 1.2em;
  }
}
.form-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 1em;
}

@media screen and (max-width: $max-mobile-width) {
  .faq-title {
    padding: 0 5%;
  }
  .qna {
    font-size: 1.125rem;
  }
}
