form {
  position: relative;

  .form-title {
    font-weight: 300;
    margin-bottom: 1.2rem;
    text-align: center;
  }
  .form-main {
    display: flex;

    .label-email-wrapper {
      position: relative;
    }
    .label-email {
      color: #8c8c8c;
      position: absolute;
      top: 50%;
      left: 14%;
      transform: translate(-50%, -50%);
    }
    .input-email {
      border: none;
      outline: none;
      border-radius: 3px 0 0 3px;
      min-width: 450px;
      height: 60px;
      padding: 10px 10px 0;
    }
    .input-email:focus .label-email {
      font-size: 13px;
      top: 50%;
    }
    .signup-btn {
      padding: 0 1rem;
      min-height: 60px;
      border-radius: 0 3px 3px 0;
      font-size: 1.625rem;
      border-left: 1px solid #333;
    }
  }
}
.chevron-right-arrow {
  display: inline-block;
  width: 0.35em;
  height: 0.75em;
  margin-left: 1rem;

  svg {
    path {
      fill: $fg-color-primary;
    }
  }
}
@media screen and (max-width: $max-tablet-width) {
  form {
    max-width: 470px;

    .form-main {
      flex-direction: column;
      align-items: center;

      .label-email {
        font-size: 0.9rem;
      }
      .input-email {
        border-radius: 0;
        height: 48px;
      }
      .signup-btn {
        font-size: 1rem;
        min-height: 38px;
        border-radius: 4px;
        margin-top: 1rem;
      }
    }
  }
}

@media screen and (max-width: $max-mobile-width) {
  form {
    .form-title {
      max-width: 450px;
      font-size: 18px;
      padding: 0 2rem;
    }
    .form-main {
      .label-email {
        left: 17%;
      }
      .input-email {
        min-width: 330px;
      }
      .signup-btn {
        margin-top: 1.2rem;
      }
    }
  }
  .chevron-right-arrow {
    margin-left: 0.5rem;
  }
}
