form {
  position: relative;

  .form-title {
    font-weight: 300;
    margin-bottom: 1.2rem;
    text-align: center;
  }
  .form-main {
    display: flex;

    .label-email {
      color: #8c8c8c;
      position: absolute;
      top: 68%;
      left: 10px;
    }
    .input-email {
      border: none;
      outline: none;
      border-radius: 3px 0 0 3px;
      min-width: 450px;
      height: 60px;
      padding: 10px 10px 0;
    }
    .input-email:focus .label-email {
      font-size: 13px;
      top: 50%;
    }
    .signup-btn {
      padding: 0 1rem;
      min-height: 60px;
      border-radius: 0 3px 3px 0;
      font-size: 1.625rem;
      border-left: 1px solid #333;
    }
  }
}
.chevron-right-arrow {
  display: inline-block;
  width: 0.35em;
  height: 0.75em;
  margin-left: 1rem;

  svg {
    path {
      fill: $fg-color-primary;
    }
  }
}
