.header-container {
  width: 100%;
  height: 105vh;
  background: url(../../assets/background.jpg) no-repeat center center/cover;
}
.header-container::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 105%;
  z-index: 1;
  background: rgba(0, 0, 0, 0.4);
  box-shadow: inset 0 70px 250px #000, inset -0 -70px 250px #000;
}
header,
.showcase-wrapper {
  position: relative;
  z-index: 2;
}
header {
  display: flex;
  justify-content: space-between;
  padding-top: 28px;
  margin: 0 3.5rem;

  div {
    display: flex;
  }
}
.netflix-logo {
  height: 2.25rem;
  width: 8.375rem;
}
.signin-btn {
  padding: 7px 17px;
  line-height: 1.4;
  margin-left: 1.5rem;
  font-size: 1rem;
}
.showcase-wrapper {
  border-bottom: 8px solid #222;
}
.showcase {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  max-width: 900px;
  margin: 0 auto;
  padding: 150px 0;
}
.showcase-title {
  margin-bottom: 1.2rem;
}
.showcase-sub-title {
  font-weight: 500;
  margin-bottom: 2.5rem;
}
