.lang-select { font-size: 0.875rem; line-height: 1.3em; border: 1px solid #aaa; border-radius: 0.1em; padding: 0 1.375rem; background: rgba(0, 0, 0, 0.4); text-align: center; width: 6.3rem; }

.lang-select-wrapper::before { content: ''; background: url(../../assets/globe.png) no-repeat center center; width: 19px; height: 17px; display: block; position: relative; top: 11px; left: 23px; background-size: 16px 15px; }

.lang-select-wrapper::after { content: ''; width: 15px; height: 8px; background-color: #fff; clip-path: polygon(100% 0%, 0% 0%, 50% 100%); position: relative; top: 15px; left: -22px; }

form { position: relative; }

form .form-title { font-weight: 300; margin-bottom: 1.2rem; text-align: center; }

form .form-main { display: flex; }

form .form-main .label-email { color: #8c8c8c; position: absolute; top: 68%; left: 10px; }

form .form-main .input-email { border: none; outline: none; border-radius: 3px 0 0 3px; min-width: 450px; height: 60px; padding: 10px 10px 0; }

form .form-main .input-email:focus .label-email { font-size: 13px; top: 50%; }

form .form-main .signup-btn { padding: 0 1rem; min-height: 60px; border-radius: 0 3px 3px 0; font-size: 1.625rem; border-left: 1px solid #333; }

.chevron-right-arrow { display: inline-block; width: 0.35em; height: 0.75em; margin-left: 1rem; }

.chevron-right-arrow svg path { fill: #fff; }

.header-container { width: 100%; height: 105vh; background: url(../../assets/background.jpg) no-repeat center center/cover; }

.header-container::after { content: ''; position: absolute; top: 0; left: 0; width: 100%; height: 105vh; z-index: 1; background: rgba(0, 0, 0, 0.4); box-shadow: inset 0 70px 250px #000, inset -0 -70px 250px #000; }

header, .showcase-wrapper { position: relative; z-index: 2; }

header { display: flex; justify-content: space-between; padding-top: 28px; margin: 0 3.5rem; }

header div { display: flex; }

.netflix-logo { height: 2.25rem; width: 8.375rem; }

.signin-btn { padding: 7px 17px; line-height: 1.4; margin-left: 1.5rem; font-size: 1rem; }

.showcase-wrapper { border-bottom: 8px solid #222; }

.showcase { display: flex; flex-direction: column; align-items: center; justify-content: center; text-align: center; max-width: 900px; margin: 0 auto; padding: 150px 0; }

.showcase-title { margin-bottom: 1.2rem; }

.showcase-sub-title { font-weight: 500; margin-bottom: 2.5rem; }

.animation-card { margin: 0 auto; max-width: 1100px; display: flex; align-items: center; }

.animation-card-text-wrapper { width: 52%; height: 100%; }

.animation-card-title { font-size: 3.125rem; line-height: 1.1; margin-bottom: 0.5rem; }

.animation-card-sub-title { margin: 0.75em 0 0.25em; font-weight: 400; }

.animation-card-image-wrapper { width: 48%; height: 100%; position: relative; }

.animation-card .animation { width: 100%; height: 100%; }

.animation-card-video { z-index: -1; position: absolute; }

.animation-card .video-tv { max-width: 73%; max-height: 54%; left: 13%; top: 21%; }

.animation-card .video-device-pile { max-width: 61%; max-height: 47%; left: 19%; top: 9%; }

.animation-card-video { width: 100%; height: 100%; }

.animation-card-icon { display: flex; justify-content: space-between; align-items: center; border: 2px solid #404040; border-radius: 8px; padding: 0.5em 0.75em; box-shadow: 0 0 2em 0 #000; max-height: 5.5em; min-width: 10rem; position: absolute; left: 20%; bottom: 10%; background: black; }

.animation-card-icon-image-wrapper { margin-right: 1em; }

.animation-card-icon-text-wrapper { margin-right: 2em; }

.animation-card-icon-text-st { font-weight: 600; margin-bottom: 0.3em; }

.animation-card-icon-text-d { color: #0071eb; }

.animation-card-icon-image { height: 4.2em; }

.animation-card-icon-icon-gif { height: 4.2em; }

.faq-title { text-align: center; line-height: 1.1; margin-bottom: 0.5rem; }

.qna { font-size: 1.625rem; max-width: 815px; margin: 2em auto; }

.accordion { background-color: #303030; color: #fff; font-size: 1.625rem; cursor: pointer; width: 100%; text-align: left; padding: 0.8em 1.2em; margin-bottom: 8px; display: flex; justify-content: space-between; }

.accordion::after { content: '\02795'; font-size: 1.625rem; color: #fff; }

.active::after { content: '\274C'; }

.panel { max-width: 1200px; background-color: #303030; display: none; overflow: hidden; max-height: 0; transition: max-height 0.25s cubic-bezier(0.5, 0, 0.1, 1); }

.panel p { font-size: 1.625rem; padding: 1.2em; }

.form-wrapper { display: flex; flex-direction: column; align-items: center; margin-bottom: 1em; }

.main-content { z-index: 2; }

.main-content section { border-bottom: 8px solid #222; padding: 70px 45px; }

.main-content .download-your-shows-section .animation-card, .main-content .children-section .animation-card { flex-direction: row-reverse; }

.main-content .download-your-shows-section .animation-card-text-wrapper, .main-content .children-section .animation-card-text-wrapper { padding-left: 3rem; }

* { margin: 0; padding: 0; box-sizing: border-box; }

body { font-size: 16px; font-family: Arial, Helvetica, sans-serif; background-color: #000; color: #fff; }

img { max-width: 100%; }

a { text-decoration: none; }

h1 { font-size: 3.125rem; }

h2 { font-size: 1.625rem; }

h3 { font-size: 1.2rem; }

select { appearance: none; background-color: transparent; border: none; width: 100%; color: #fff; padding: 0 1em 0 0; }

button { border: none; outline: none; cursor: pointer; text-align: center; }

.red-btn { background-color: #e50914; color: #fff; border-radius: 3px; }
