.lang-select { font-size: 0.875rem; line-height: 1.3em; border: 1px solid #aaa; border-radius: 0.1em; padding: 0 1.375rem; background: rgba(0, 0, 0, 0.4); text-align: center; }

.lang-select-wrapper::before { content: ''; background: url(../../assets/globe.png) no-repeat center center; width: 19px; height: 17px; display: block; position: relative; top: 11px; left: 23px; background-size: 16px 15px; }

.lang-select-wrapper::after { content: ''; width: 15px; height: 8px; background-color: #fff; clip-path: polygon(100% 0%, 0% 0%, 50% 100%); position: relative; top: 15px; left: -22px; }

form { position: relative; }

form .form-title { font-weight: 300; margin-bottom: 1.2rem; }

form .form-main { display: flex; }

form .form-main .label-email { color: #8c8c8c; position: absolute; top: 68%; left: 10px; }

form .form-main .input-email { border: none; outline: none; border-radius: 3px 0 0 3px; min-width: 450px; height: 60px; padding: 10px 10px 0; }

form .form-main .input-email:focus .label-email { font-size: 13px; top: 50%; }

form .form-main .signup-btn { padding: 0 1rem; min-height: 60px; border-radius: 0 3px 3px 0; font-size: 1.625rem; border-left: 1px solid #333; }

.chevron-right-arrow { display: inline-block; width: 0.35em; height: 0.75em; margin-left: 1rem; }

.chevron-right-arrow svg path { fill: #fff; }

.header-container { width: 100%; height: 105vh; background: url(../../assets/background.jpg) no-repeat center center/cover; }

.header-container::after { content: ''; position: absolute; top: 0; left: 0; width: 100%; height: 105%; z-index: 1; background: rgba(0, 0, 0, 0.4); box-shadow: inset 0 70px 250px #000, inset -0 -70px 250px #000; }

header, .showcase-wrapper { position: relative; z-index: 2; }

header { display: flex; justify-content: space-between; padding-top: 28px; margin: 0 3.5rem; }

header div { display: flex; }

.netflix-logo { height: 2.25rem; width: 8.375rem; }

.signin-btn { padding: 7px 17px; line-height: 1.4; margin-left: 1.5rem; font-size: 1rem; }

.showcase-wrapper { border-bottom: 8px solid #222; }

.showcase { display: flex; flex-direction: column; align-items: center; justify-content: center; text-align: center; max-width: 900px; margin: 0 auto; padding: 150px 0; }

.showcase-title { margin-bottom: 1.2rem; }

.showcase-sub-title { font-weight: 500; margin-bottom: 2.5rem; }

* { margin: 0; padding: 0; box-sizing: border-box; }

body { font-size: 16px; font-family: Arial, Helvetica, sans-serif; background-color: #000; color: #fff; }

a { text-decoration: none; }

h1 { font-size: 3.125rem; }

h2 { font-size: 1.625rem; }

h3 { font-size: 1.2rem; }

select { appearance: none; background-color: transparent; border: none; width: 100%; color: #fff; padding: 0 1em 0 0; }

button { border: none; outline: none; cursor: pointer; text-align: center; }

.red-btn { background-color: #e50914; color: #fff; border-radius: 3px; }
