.lang-select { font-size: 0.875rem; line-height: 1.3em; border: 1px solid #aaa; border-radius: 0.1em; padding: 0 1.375rem; background: rgba(0, 0, 0, 0.4); text-align: center; width: 6.3rem; }

.lang-select-wrapper::before { content: ''; background: url(../../assets/globe.png) no-repeat center center; width: 19px; height: 17px; display: block; position: relative; top: 11px; left: 23px; background-size: 16px 15px; }

.lang-select-wrapper::after { content: ''; width: 15px; height: 8px; background-color: #fff; clip-path: polygon(100% 0%, 0% 0%, 50% 100%); position: relative; top: 15px; left: -22px; }

@media screen and (max-width: 550px) { .lang-select { width: 100%; padding: 4px 18px; }
  .lang-select-wrapper::before { top: 1px; left: 20px; }
  .lang-select-wrapper::after { top: 1px; left: -19px; } }

form { position: relative; }

form .form-title { font-weight: 300; margin-bottom: 1.2rem; text-align: center; }

form .form-main { display: flex; }

form .form-main .label-email-wrapper { position: relative; }

form .form-main .label-email { color: #8c8c8c; position: absolute; top: 50%; left: 14%; transform: translate(-50%, -50%); }

form .form-main .input-email { border: none; outline: none; border-radius: 3px 0 0 3px; min-width: 450px; height: 60px; padding: 10px 10px 0; }

form .form-main .input-email:focus .label-email { font-size: 13px; top: 50%; }

form .form-main .signup-btn { padding: 0 1rem; min-height: 60px; border-radius: 0 3px 3px 0; font-size: 1.625rem; border-left: 1px solid #333; }

.chevron-right-arrow { display: inline-block; width: 0.35em; height: 0.75em; margin-left: 1rem; }

.chevron-right-arrow svg path { fill: #fff; }

@media screen and (max-width: 949px) { form { max-width: 470px; }
  form .form-main { flex-direction: column; align-items: center; }
  form .form-main .label-email { font-size: 0.9rem; }
  form .form-main .input-email { border-radius: 0; height: 48px; }
  form .form-main .signup-btn { font-size: 1rem; min-height: 38px; border-radius: 4px; margin-top: 1rem; } }

@media screen and (max-width: 550px) { form .form-title { max-width: 450px; font-size: 18px; padding: 0 2rem; }
  form .form-main .label-email { left: 17%; }
  form .form-main .input-email { min-width: 330px; }
  form .form-main .signup-btn { margin-top: 1.2rem; }
  .chevron-right-arrow { margin-left: 0.5rem; } }

.header-container { width: 100%; height: 105vh; background: url(../../assets/background.jpg) no-repeat center center/cover; }

.header-container::after { content: ''; position: absolute; top: 0; left: 0; width: 100%; height: 105vh; z-index: 1; background: rgba(0, 0, 0, 0.4); border-bottom: 8px solid #222; box-shadow: inset 0 70px 250px #000, inset -0 -70px 250px #000; }

header, .showcase-wrapper { position: relative; z-index: 2; }

header { display: flex; justify-content: space-between; padding-top: 28px; margin: 0 3.5rem; }

header div { display: flex; }

.netflix-logo { height: 2.25rem; width: 8.375rem; }

.signin-btn { padding: 7px 17px; line-height: 1.4; margin-left: 1.5rem; font-size: 1rem; white-space: nowrap; }

.showcase { display: flex; flex-direction: column; align-items: center; justify-content: center; text-align: center; max-width: 900px; margin: 0 auto; padding: 150px 0; }

.showcase-title { margin-bottom: 1.2rem; max-width: 600px; }

.showcase-sub-title { font-weight: 500; margin-bottom: 2.5rem; }

@media screen and (max-width: 949px) { .header-container::after { box-shadow: inset 0 40px 100px #000, inset -0 -40px 100px #000; }
  .netflix-logo { height: 32px; width: 108px; }
  .showcase { padding: 15% 40px; } }

@media screen and (max-width: 550px) { .header-container { max-height: 80vh; }
  .header-container::after { height: 80vh; border-bottom: 8px solid #222; }
  header { padding-top: 25px; margin: 0 1.4rem; align-items: center; }
  header div { align-items: center; }
  .netflix-logo { height: 24px; width: 89px; }
  .signin-btn { padding: 2px 5px; margin-left: 0.3rem; }
  .showcase-wrapper { border: none; }
  .showcase { padding: 75px 0; }
  .showcase-title { margin-bottom: 1rem; }
  .showcase-sub-title { margin-bottom: 1rem; } }

.animation-card { margin: 0 auto; max-width: 1100px; display: flex; align-items: center; }

.animation-card-text-wrapper { width: 52%; height: 100%; }

.animation-card-title { line-height: 1.1; margin-bottom: 0.5rem; }

.animation-card-sub-title { margin: 0.75em 0 0.25em; font-weight: 400; }

.animation-card-image-wrapper { width: 48%; height: 100%; position: relative; }

.animation-card .animation { width: 100%; height: 100%; }

.animation-card-video { z-index: -1; position: absolute; }

.animation-card .video-tv { max-width: 73%; max-height: 54%; left: 13%; top: 21%; }

.animation-card .video-device-pile { max-width: 61%; max-height: 47%; left: 19%; top: 9%; }

.animation-card-video { width: 100%; height: 100%; }

.animation-card-icon-wrapper { position: relative; }

.animation-card-icon { display: flex; justify-content: space-between; align-items: center; border: 2px solid #404040; border-radius: 8px; padding: 0.5em 0.75em; box-shadow: 0 0 2em 0 #000; background: black; max-height: 5.5em; min-width: 10rem; width: 20rem; position: absolute; top: -95px; left: 50%; transform: translate(-50%, -50%); }

.animation-card-icon-image-wrapper { margin-right: 1em; }

.animation-card-icon-text-wrapper { margin-right: 2em; }

.animation-card-icon-text-st { font-weight: 600; margin-bottom: 0.3em; }

.animation-card-icon-text-d { color: #0071eb; }

.animation-card-icon-image { height: 4.2em; }

.animation-card-icon-icon-gif { height: 4.2em; }

@media screen and (max-width: 949px) { .animation-card { flex-direction: column; text-align: center; }
  .animation-card-text-wrapper, .animation-card-image-wrapper { width: 100%; }
  .animation-card-icon { border-radius: 10px; width: 20rem; top: -60px; justify-content: flex-start; }
  .animation-card-icon-text-wrapper { margin-right: 4em; display: flex; flex-direction: column; align-items: flex-start; }
  .animation-card-icon-text-st { font-family: 14px; }
  .animation-card-icon-text-d { font-size: 14px; }
  .animation-card-icon-image, .animation-card-icon-icon-gif { height: 3em; } }

@media screen and (max-width: 550px) { .animation-card-icon { width: 17rem; }
  .animation-card-icon-text-wrapper { margin-right: 1em; } }

.faq-title { text-align: center; line-height: 1.1; margin-bottom: 0.5rem; }

.qna { font-size: 1.625rem; max-width: 815px; margin: 2em auto; }

.accordion { background-color: #303030; color: #fff; font-size: inherit; cursor: pointer; width: 100%; text-align: left; padding: 0.8em 1.2em; margin-bottom: 8px; display: flex; justify-content: space-between; }

.accordion::after { content: '\02795'; font-size: inherit; color: #fff; }

.active::after { content: '\274C'; }

.panel { max-width: 1200px; background-color: #303030; display: none; overflow: hidden; max-height: 0; transition: max-height 0.25s cubic-bezier(0.5, 0, 0.1, 1); }

.panel p { font-size: inherit; padding: 1.2em; }

.form-wrapper { display: flex; flex-direction: column; align-items: center; margin-bottom: 1em; }

@media screen and (max-width: 550px) { .faq-title { padding: 0 5%; }
  .qna { font-size: 1.125rem; } }

.main-content { z-index: 2; }

.main-content section { border-bottom: 8px solid #222; padding: 70px 45px; }

.main-content .download-your-shows-section .animation-card, .main-content .children-section .animation-card { flex-direction: row-reverse; }

.main-content .download-your-shows-section .animation-card-text-wrapper, .main-content .children-section .animation-card-text-wrapper { padding-left: 3rem; }

@media screen and (max-width: 949px) { .main-content .download-your-shows-section .animation-card, .main-content .children-section .animation-card { flex-direction: column; }
  .main-content .download-your-shows-section .animation-card-text-wrapper, .main-content .children-section .animation-card-text-wrapper { padding-left: 0; } }

@media screen and (max-width: 550px) { .main-content section { padding: 50px 5%; }
  .main-content .faq-section { padding: 50px 0; } }

.footer { padding: 70px 45px; color: #757575; font-size: 1em; width: 75%; margin: 0 auto; }

.footer a { color: #757575; }

.footer a:hover { text-decoration: underline; }

.footer ul { list-style: none; }

.footer li { margin-bottom: 16px; display: inline-block; width: 25%; min-width: 100px; }

.footer .footer-text-first { margin-bottom: 30px; letter-spacing: 1px; }

.footer .footer-links { font-size: 13px; max-width: 1000px; }

.footer .footer-lang-select-wrapper { margin-top: 20px; }

.footer .footer-lang-select-wrapper select { padding: 12px 26px 12px 50px; line-height: 1.7; width: 9rem; color: #757575; border-color: #757575; }

.footer .footer-lang-select-wrapper option { color: #fff; }

.footer .footer-lang-select-wrapper .lang-select-wrapper::before { width: 38px; height: 32px; top: 40px; left: 10px; background-size: 25px 24px; opacity: 0.5; }

.footer .footer-lang-select-wrapper .lang-select-wrapper::after { display: inline-block; background-color: #757575; top: 0px; left: -26px; }

.footer .footer-text-last { font-size: 13px; margin-top: 26px; margin-bottom: 13px; }

.footer .footer-text-msg { text-align: center; color: #e50914; }

@media screen and (max-width: 949px) { .footer { padding: 50px 5%; width: 90%; }
  .footer li { width: 33%; } }

@media screen and (max-width: 550px) { .footer li { width: 50%; } }

* { margin: 0; padding: 0; box-sizing: border-box; }

body { font-size: 16px; font-family: Arial, Helvetica, sans-serif; background-color: #000; color: #fff; overflow-x: hidden; }

img { max-width: 100%; }

a { text-decoration: none; }

h1 { font-size: 3.125rem; }

h2 { font-size: 1.625rem; }

h3 { font-size: 1.2rem; }

select { appearance: none; background-color: transparent; border: none; width: 100%; color: #fff; padding: 0 1em 0 0; }

button { border: none; outline: none; cursor: pointer; text-align: center; }

.red-btn { background-color: #e50914; color: #fff; border-radius: 3px; }

@media screen and (max-width: 550px) { h1 { font-size: 1.75rem; }
  h2 { font-size: 1.125rem; }
  h3 { font-size: 0.9rem; } }
